%h1 Hello World
%p This will hopefully flush out issues with sauce-cucumber!

.container
	= form_tag(hello_world_api_path, method: :post, remote: true) do
		%input#hello-text{ type: "text", name: "hello_text", size: "20" }
		%button#test-click{ type: "button"} Try Me

.results
